obj/*.o
obj/**/*.o
.d/*.d
.d/*.Td
.d/**/*.d
.d/**/*.Td
vendor/raylib/*.o
vendor/raylib/*.a
tmp
*swp
.vscode/ipch/
bin/starterkit
bin/starterkit.dSym
bin/starterkit.exe
win/starterkit.exe
win/res
mac/StarterKit.app/Contents/MacOS/starterkit
mac/StarterKit.app/Contents/MacOS/res
linux/starterkit32
linux/starterkit64
linux/res
storage.data
